html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Hind Madurai", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #F2F2F2;
}

.header {
  background-color: #CC6C5C;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.menu__toggler {
  cursor: pointer;
  color: white;
  font-size: 30px;
}

.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 799px) {
  .menu__checkbox:checked ~ .menu__list {
    display: block;
  }
}
@media screen and (min-width: 800px) {
  .menu__toggler {
    display: none;
  }
  .menu__list {
    display: flex;
  }
  .menu__link:hover {
    border: 2px solid white;
  }
}
.category {
  background-color: #C4D8D2;
  width: 225px;
  height: 140px;
  margin: 120px auto 30px auto;
  border-radius: 5px;
  position: relative;
}
.category__photo1 {
  width: 201px;
  height: 147px;
  border: 3px solid #F2F2F2;
  box-shadow: 1px 2px 2px #8e8d8d;
  border-radius: 30px;
  margin-top: 30px;
  position: absolute;
  bottom: 75px;
  left: 12px;
}
.category__photo {
  width: 160px;
  height: 165px;
  border: 3px solid #F2F2F2;
  box-shadow: 1px 2px 2px #8e8d8d;
  border-radius: 30px;
  position: absolute;
  bottom: 75px;
  left: 32.5px;
}
.category__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  box-shadow: 2px 4px 4px #8e8d8d;
  width: 175px;
  height: 40px;
  border-radius: 3px;
  position: absolute;
  bottom: 15px;
  left: 25px;
  margin: 0;
}
.category__button a {
  text-decoration: none;
  font-weight: 500;
  color: black;
}
.category__button a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 750px) {
  .section-categori {
    display: flex;
    justify-content: center;
  }
}
.article {
  background-color: #E7E3E4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article__photo {
  max-width: 100%;
}
.article__text {
  flex: 1 1 50%;
  border: 1px solid #cdcaca;
  border-radius: 5px;
  box-shadow: 1px 2px 2px #8e8d8d;
  margin: 15px 20px 15px 20px;
}
.article__text h1 {
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 0;
  text-align: center;
}
.article__text p {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .article {
    flex-direction: row;
    height: 300px;
  }
  .article__text {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.footer {
  background-color: #5A6C73;
  padding: 10px 20px 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer p {
  margin: 0;
  font-size: 12px;
}
.footer a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}
.footer a:hover {
  text-decoration: underline;
}

.logo__map {
  margin-right: 10px;
}

.content__header {
  background-color: #E7E3E4;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  margin-bottom: 30px;
}

.content__photo {
  max-width: 100%;
  margin-top: 10px;
  border-radius: 20px;
}

.content__data {
  border: 1px solid #cdcaca;
  border-radius: 5px;
  box-shadow: 1px 2px 2px #8e8d8d;
  margin: 10px 20px 10px 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.content__data h3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}
.content__data p {
  margin: 0;
}

.content__table {
  border-spacing: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.content__table td {
  border-bottom: 1px solid black;
}

.table__left {
  text-align: left;
}

.table__right {
  text-align: right;
}

.content__about {
  text-align: center;
  border: 1px solid #cdcaca;
  border-radius: 5px;
  box-shadow: 1px 2px 2px #8e8d8d;
  margin: 15px 20px 15px 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.content__about p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.content__about__list {
  margin-top: 0;
  margin-bottom: 10px;
}

.content__attention {
  padding: 10px;
  font-weight: bold;
  color: #CC6C5C;
  border: 2px solid #CC6C5C;
  border-radius: 5px;
}

.content__list {
  margin-top: 0;
  margin-bottom: 10px;
}
.content__list li {
  list-style-type: square;
}

@media screen and (min-width: 800px) {
  .content__header {
    grid-template-columns: 250px 1fr;
    align-items: center;
  }
  .content__photo {
    margin-top: 0;
  }
  .content__about {
    grid-column: span 2;
  }
}
@media screen and (min-width: 1000px) {
  .content__header {
    grid-template-columns: 250px 1fr 1fr;
    align-items: center;
  }
  .content__about {
    grid-column: 3/4;
  }
}
.content__text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 600px);
  justify-items: center;
}

.circle {
  background-color: #C4D8D2;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
}
.circle__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F2F2F2;
  border: 2px solid #E7E3E4;
  border-radius: 5px;
  box-shadow: 1px 2px 2px #8e8d8d;
  width: 300px;
  height: 500px;
  padding: 10px;
  position: absolute;
  top: 75px;
  left: -50px;
}
.circle h4 {
  margin-top: 0;
  margin-bottom: 10px;
}
.circle p {
  margin: 0;
}

@media screen and (min-width: 800px) {
  .content__text {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 600px);
  }
}
@media screen and (min-width: 1100px) {
  .content__text {
    grid-template-rows: repeat(3, 400px);
  }
  .circle__text {
    width: 500px;
    height: 300px;
    left: -150px;
  }
}
.content__footer {
  margin-top: 30px;
}

.contact {
  padding-top: 100px;
  padding-bottom: 200px;
  background-image: url(/images/photo8.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.contact__title {
  margin-bottom: 30px;
}

.contact__main {
  border: 2px solid #E7E3E4;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
}
.contact__main a {
  text-decoration: none;
  color: black;
}
.contact__main a:hover {
  text-decoration: underline;
}

.contact__map {
  margin-bottom: 30px;
  border: 2px solid #E7E3E4;
  border-radius: 5px;
}

@media screen and (min-width: 800px) {
  .contact {
    grid-template-columns: 1fr 1fr;
  }
  .contact__title {
    grid-column: span 2;
  }
}/*# sourceMappingURL=style.css.map */